@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink-effect {
  50% {
    color: #6273e5;
  }
  100% {
    color: #1A2434';
  }
}

@layer base {
}

@layer components {
}


*, html, body, div, span {
    font-family: Pretendard;
}
@layer utilities {


.sidebar {
    position: fixed;
    min-height: 100vh;
    background-color: #1c2434;
    transition: all 0.5s;
    color: #e4e3fa;
    display: flex;
}
.side-header {
  display: flex;
  align-items: center;
}
.side-show {
    min-width: 15vw;
    width:15vw;
}

.side-hidden {
    min-width: 5vw;
    width:5vw;
}

.side-nav {
    padding:1vh 1vw;
}

.side-nav-icon {
    padding: 0vh 1vw;
}
.content-side-show {
    left: 15vw;
    width: 85vw;
}

.content-side-hidden {
    left: 5vw;
    width: 95vw;
}

#instance-grid {
    height:250vh;
}

#model-grid {
  width: 77vw;
}

#da-grid {
  height:250vh;
  width: 77vw;
  row-gap: "10px";
  /* align-items: center; */
  /* justify-items: stretch; */
  justify-content: center;
  align-content: center;
}

.grid-rows-36 {
  grid-template-rows: repeat(36, minmax(0, 1fr));
}

.grid-rows-24 {
  grid-template-rows: repeat(24, minmax(0, 1fr));
}



.content {
    top:7vh;
    position:fixed;
    overflow: auto;
    height: 100vh;
    transition: all 0.5s;
    background-color: #f1f5f9;
}
.user-info {
    overflow: auto;
    max-height: 2.2rem;
    font-size: 15px;
    font-weight: bold;
    background-color: #e4e4e4;
    padding: 5px;
    color:black;
}

.title{
    font-weight: bold;
    font-size: 25px;
    color:rgb(29, 29, 29);
}

.section {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgb(215 218 221) 2px 2px 10px 1px;
  margin: 2vh 3vw;
  padding: 20px;
}

.user-text {
  right: 5vw;
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8a8a8a;
  font-size: 15px;
}

.user-icon {
  padding: 25px;
  background-color: #eff2f7;
  right: 2vw;
  position:fixed;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6273e5;
  font-size: 20px;
}

.card-icon {
    padding: 25px;
    background-color: #eff2f7;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6273e5;
    font-size: 20px;
}

.card-value  {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px 5px 0px;
    color:black;
}

.figure-card  {
    min-width: 17vw;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    color:#818491;
    width: 17vw;
    height: 20vh;
    padding: 2vh 2vw;
    background-color: #ffffff;
    margin: 1vh 1vw;
    /* box-shadow: rgb(215 218 221) 2px 2px 10px 1px; */
}

.fig {
    background-color: white;
    margin: 20px;
    /* box-shadow: rgb(215 218 221) 2px 2px 10px 1px; */
}

.data-selector {
    min-width:20vw;
    padding: 1vh 0vw 1vh 5vw;
    border-radius: 0px;
}

.column-radio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 20px;
}

.Select-control {
    border: none;
    border-radius: 0px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

}

.btn-alert {
    margin: 0px 10px 0px 10px;
}

.alert {
  position: fixed;
  left: 40vw;
  top: 8vh;
}

.alert-2 {
  position: fixed;
  left: 40vw;
  top: 16vh;
}

.bot-color {
    background-color: #e2f0ff;
}

.upload-btn {
  border: 2px dashed #e4e4e4;
  border-radius: 5px;
  padding: 10%;
  text-align: center;
  margin: 3% 10% 3% 10%;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
}

.border-clear {
  border: #919aa9 solid 1px;
}

.upload-btn:hover {
  color: #6273e5;
  border: 2px solid #6273e5;
}
.header {
  top:0px;
  min-height: 7vh;
  min-width: 100%;
  background-color: #ffffff;
  display: flex;
  --bs-navbar-padding-y: 0rem;
  border-bottom: 1px solid #d9dee4;
  box-shadow: 5px 0px 5px 2px #d9dee4;
  position: fixed;
  z-index: 999;
  transition: all 0.5s;
}

.btn-title {
  background-color: transparent;
  border: transparent;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
}

.btn-title:hover {
  background-color: transparent;
  border: transparent;
  color: #6273e5;
}

.btn-primary {
    --bs-btn-active-bg: transparent;
    --bs-btn-active-color:#3f3fb9;
}

.btn-title:active {
  background-color: transparent;
  border: transparent;
}

.nav {
  width:100%;
}
.nav-link {
    color:#d9dee4;
}
.nav-link:hover {
  color:#6273e5;
}
.nav-pills .nav-link.active {
  color: #fff;
  background-color: #333A48;
  border-radius: 0px;
}

.btn-sidebar:hover {
    background-color: transparent;
    color: #6273e5;
    color: #d6e2ff;
    border-radius: 0px;
}

.btn-sidebar:active {
    background-color: transparent;
    color: #6273e5;
}

.btn-sidebar {
  height: 7vh;
  margin-left: 0.5vw;
  font-size: 2rem;
  align-items: center;
  display: flex;
  background-color: transparent;
  border: transparent;
  color: white;
}

.blink {
  animation: blink-effect 0.7s step-end infinite;
}